//  v1.1.0 (2019/03/30) by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                         Color Schemes & Palettes                          *
// *                                                                           *
// *****************************************************************************

// ---------------
// Windows CMD/DOS
// ---------------
// Legacy colors:
$CMD-old-BG:    #000000; // BLACK
$CMD-old-FG:    #C0C0C0; // DARK_WHITE
$CMD-old-White: #FFFFFF; // WHITE
// Modern colors:
$CMD-new-BG:    #0C0C0C; // BLACK
$CMD-new-FG:    #CCCCCC; // DARK_WHITE
$CMD-new-White: #F2F2F2; // WHITE

// EOF //
