###############################################
#  Cosmigo Pro Motion Assets                  #
#  https://github.com/tajmone/pmotion-assets  #
###############################################

# Set Git's default behaviour to text-files autodetection, in case users don't
# have `core.autocrlf` set:
* text=auto

# ==============================================================================
#                      File Extensions Setting: Text/Binary
# ==============================================================================
# Explicitly declare all used file extensions as either text or binary, and tell
# Git how to handle line-endings normalization.


## PM NG ASsets
###############
*.pal  binary
*.pmp  binary


## Pixel Art Formats
####################
*.bmf  binary


## Code Scripts
################
*.py   text
*.py3  text


## Highlight LangDefs & Themes
##############################
[attr]Hihglight text linguist-language=Lua gitlab-language=Lua
*.lang    Hihglight
*.theme   Hihglight


## Sass/SCSS
############
*.sass   text
*.scss   text


## Shell Scripts
################
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.sh    text eol=lf
*.ps1   text eol=crlf


## Misc. Data Formats
#####################
*.csv     text
*.json    text
*.xhtml   text
*.xml     text
*.xsl     text
*.yaml    text
*.yml     text


## Web-Related Files
####################
*.htm       text
*.html      text
*.css       text
*.css.map   text
*.js        text


## AsciiDoc Sources & Assets
############################
*.ad         text
*.adoc       text
*.asciidoc   text
*.csv        text
*.haml       text
*.rb         text eol=lf

## ASCII Diagrams Sources
#########################
*.svgbob   text


## Documentation Files
######################
*.docx       binary
*.markdown   text
*.md         text
*.odt        binary
*.pdf        binary
*.txt        text
COPYING      text
LICENSE      text
*LICENSE*    text


## Repository Configuration
###########################
.editorconfig    text eol=lf
.gitlab-ci.yml   text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf


## Archives
###########
*.7z    binary
*.gz    binary
*.jar   binary
*.rar   binary
*.tar   binary
*.zip   binary


## Image & Graphics Files
#########################
*.ai     binary
*.bmp    binary
*.eps    binary
*.gif    binary
*.ico    binary
*.jng    binary
*.jp2    binary
*.jpg    binary
*.jpeg   binary
*.jpx    binary
*.jxr    binary
*.png    binary
*.psb    binary
*.psd    binary
*.svg    binary
*.svgz   binary
*.tif    binary
*.tiff   binary
*.wbmp   binary
*.webp   binary


## Third Party Tools File Formats
#################################
# Dia Diagram Editor: http://dia-installer.de/
*.dia    binary
# ColorImpact 4 palettes: http://www.tigercolor.com
*.cifc   binary


# EOF #
