/* FiraCode font (with ligatures) */
@font-face {
  font-family: "Fira Code";
  src: url("https://unpkg.com/firacode/distr/eot/FiraCode-Regular.eot");
  src: url("https://unpkg.com/firacode/distr/eot/FiraCode-Regular.eot") format("embedded-opentype"), url("https://unpkg.com/firacode/distr/woff2/FiraCode-Regular.woff2") format("woff2"), url("https://unpkg.com/firacode/distr/woff/FiraCode-Regular.woff") format("woff"), url("https://unpkg.com/firacode/distr/ttf/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Highlight Default Theme -- "Base16 Google" by Seth Wright */
.listingblock code[data-lang]::before {
  color: #373b41;
}

.listingblock pre[class=highlight] {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
.listingblock pre[class=highlight] > code {
  color: #373b41;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}
.listingblock pre[class=highlight] .hl {
  color: #373b41;
}
.listingblock pre[class=highlight] .hl.num {
  color: #F96A38;
}
.listingblock pre[class=highlight] .hl.esc {
  color: #F96A38;
}
.listingblock pre[class=highlight] .hl.ipl {
  color: #3971ED;
}
.listingblock pre[class=highlight] .hl.str {
  color: #198844;
}
.listingblock pre[class=highlight] .hl.ppc {
  color: #A36AC7;
}
.listingblock pre[class=highlight] .hl.pps {
  color: #3971ED;
}
.listingblock pre[class=highlight] .hl.slc, .listingblock pre[class=highlight] .hl.com {
  color: #b4b7b4;
  font-style: italic;
}
.listingblock pre[class=highlight] .hl.lin {
  color: #969896;
}
.listingblock pre[class=highlight] .hl.opt {
  color: #373b41;
}
.listingblock pre[class=highlight] .hl.kwa {
  color: #CC342B;
}
.listingblock pre[class=highlight] .hl.kwb {
  color: #FBA922;
}
.listingblock pre[class=highlight] .hl.kwc {
  color: #3971ED;
}
.listingblock pre[class=highlight] .hl.kwd {
  color: #A36AC7;
}
.listingblock pre[class=highlight] .hl.kwde {
  color: #3971ED;
}
.listingblock pre[class=highlight] .hl.kwf {
  color: #3971ED;
}

/* Highlight Theme for Delphi -- "Base16 Tomorrow Night" by Chris Kempson */
.listingblock code[data-lang=delphi]::before {
  color: #c5c8c6;
}

.listingblock pre[class=highlight][lang=delphi] {
  background-color: #1d1f21;
  border-color: #b4b7b4;
}
.listingblock pre[class=highlight][lang=delphi] > code {
  color: #c5c8c6;
  font-family: "Fira Code", Monaco, "Courier New", Courier, monospace;
}
.listingblock pre[class=highlight][lang=delphi] .hl {
  color: #c5c8c6;
}
.listingblock pre[class=highlight][lang=delphi] .hl.num {
  color: #de935f;
}
.listingblock pre[class=highlight][lang=delphi] .hl.esc {
  color: #de935f;
}
.listingblock pre[class=highlight][lang=delphi] .hl.ipl {
  color: #a3685a;
}
.listingblock pre[class=highlight][lang=delphi] .hl.str {
  color: #b5bd68;
}
.listingblock pre[class=highlight][lang=delphi] .hl.ppc {
  color: #b294bb;
}
.listingblock pre[class=highlight][lang=delphi] .hl.pps {
  color: #b5bd68;
}
.listingblock pre[class=highlight][lang=delphi] .hl.slc, .listingblock pre[class=highlight][lang=delphi] .hl.com {
  color: #969896;
  font-style: italic;
}
.listingblock pre[class=highlight][lang=delphi] .hl.lin {
  color: #969896;
}
.listingblock pre[class=highlight][lang=delphi] .hl.opt {
  color: #ffffff;
}
.listingblock pre[class=highlight][lang=delphi] .hl.kwa {
  color: #cc6666;
}
.listingblock pre[class=highlight][lang=delphi] .hl.kwb {
  color: #f0c674;
}
.listingblock pre[class=highlight][lang=delphi] .hl.kwd {
  color: #81a2be;
}

/* Highlight Theme for C++ -- "Base16 Atelier Sulphurpool" by Bram de Haan */
.listingblock code[data-lang=cpp]::before {
  color: #5e6687;
}

.listingblock pre[class=highlight][lang=cpp] {
  background-color: #f5f7ff;
  border-color: #dfe2f1;
}
.listingblock pre[class=highlight][lang=cpp] > code {
  color: #5e6687;
  font-family: "Fira Code", Monaco, "Courier New", Courier, monospace;
}
.listingblock pre[class=highlight][lang=cpp] .hl {
  color: #5e6687;
}
.listingblock pre[class=highlight][lang=cpp] .hl.num {
  color: #c76b29;
}
.listingblock pre[class=highlight][lang=cpp] .hl.esc {
  color: #c76b29;
}
.listingblock pre[class=highlight][lang=cpp] .hl.ipl {
  color: #6679cc;
}
.listingblock pre[class=highlight][lang=cpp] .hl.str {
  color: #ac9739;
}
.listingblock pre[class=highlight][lang=cpp] .hl.ppc {
  color: #9c637a;
}
.listingblock pre[class=highlight][lang=cpp] .hl.pps {
  color: #ac9739;
}
.listingblock pre[class=highlight][lang=cpp] .hl.slc, .listingblock pre[class=highlight][lang=cpp] .hl.com {
  color: #898ea4;
  font-style: italic;
}
.listingblock pre[class=highlight][lang=cpp] .hl.lin {
  color: #6b7394;
}
.listingblock pre[class=highlight][lang=cpp] .hl.opt {
  color: #293256;
}
.listingblock pre[class=highlight][lang=cpp] .hl.kwa {
  color: #c94922;
}
.listingblock pre[class=highlight][lang=cpp] .hl.kwb {
  color: #22a2c9;
}
.listingblock pre[class=highlight][lang=cpp] .hl.kwc {
  color: #3d8fd1;
}
.listingblock pre[class=highlight][lang=cpp] .hl.kwd {
  color: #6679cc;
  font-weight: bold;
}

/* Highlight Theme for Pseudocode -- "Base16 Eighties" by Chris Kempson  */
.listingblock code[data-lang=pseudocode]::before {
  color: #d3d0c8;
}

.listingblock pre[class=highlight][lang=pseudocode] {
  background-color: #2d2d2d;
  border-color: #747369;
}
.listingblock pre[class=highlight][lang=pseudocode] > code {
  color: #d3d0c8;
  font-family: "Fira Code", Monaco, "Courier New", Courier, monospace;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl {
  color: #d3d0c8;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.num {
  color: #f2f0ec;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.esc {
  color: #f99157;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.ipl {
  color: #d27b53;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.str {
  color: #99cc99;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.ppc {
  color: #cc99cc;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.pps {
  color: #66cccc;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.slc, .listingblock pre[class=highlight][lang=pseudocode] .hl.com {
  color: #747369;
  font-style: italic;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.lin {
  color: #747369;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.opt {
  color: #d3d0c8;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.kwa {
  color: #6699cc;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.kwb {
  color: #cc99cc;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.kwc {
  color: #66cccc;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.kwd {
  color: #ffcc66;
  font-weight: bold;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.kwe {
  color: #f2777a;
}
.listingblock pre[class=highlight][lang=pseudocode] .hl.kwf {
  color: #f99157;
}

/* Highlight Theme for EBNF -- "Base16 Solarized Light" by Ethan Schoonover */
.listingblock code[data-lang=ebnf]::before {
  color: #93a1a1;
}

.listingblock pre[class=highlight][lang=ebnf] {
  background-color: #fdf6e3;
  border-color: #eee8d5;
}
.listingblock pre[class=highlight][lang=ebnf] > code {
  color: #073642;
  font-family: "Fira Code", Monaco, "Courier New", Courier, monospace;
}
.listingblock pre[class=highlight][lang=ebnf] .hl {
  color: #073642;
}
.listingblock pre[class=highlight][lang=ebnf] .hl.str {
  color: #2aa198;
}
.listingblock pre[class=highlight][lang=ebnf] .hl.slc, .listingblock pre[class=highlight][lang=ebnf] .hl.com {
  color: #93a1a1;
  font-style: italic;
}
.listingblock pre[class=highlight][lang=ebnf] .hl.lin {
  color: #657b83;
}
.listingblock pre[class=highlight][lang=ebnf] .hl.opt {
  color: #073642;
}
.listingblock pre[class=highlight][lang=ebnf] .hl.kwa {
  color: #dc322f;
  font-weight: bold;
}
.listingblock pre[class=highlight][lang=ebnf] .hl.kwb {
  color: #268bd2;
}

.menuseq b:not(.caret), .menuref {
  color: FireBrick;
}

/*# sourceMappingURL=styles.css.map */
