//  v1.1.0 (2019/03/30) by Tristano Ajmone
// *****************************************************************************
/* Highlight Theme for Delphi -- "Base16 Tomorrow Night" by Chris Kempson */
// *****************************************************************************

@import 'base16-tomorrow-night';

$HL-CanvasBG:           $base00; // black
$HL-Default:            $base05; // gray 3

$HL-Border:             $base04; // gray2
$HL-LangHover:          $HL-Default;

$HL-LineNum:            $base03; // gray 1

$HL-Number:             $base09; // orange
$HL-Escape:             $base09; // orange
$HL-Interpolation:      $base0F; // brown
$HL-String:             $base0B; // green
$HL-StringPreProc:      $HL-String;
$HL-PreProcessor:       $base0E; // purple
$HL-Comment:            $base03; // gray1
$HL-Operator:           $base07; // white
$HL-Keywords1:          $base08; // red
$HL-Keywords2:          $base0A; // yellow
$HL-Keywords4:          $base0D; // blue

.listingblock code[data-lang=delphi]::before{
  // Color of language name (shown when hovering)
  color: $HL-LangHover;
}
.listingblock pre[class=highlight][lang=delphi] {
  background-color: $HL-CanvasBG;
  &>code {
    color: $HL-Default;
    font-family: $FiraCode;
  }
  border-color: $HL-Border;
  .hl {
    color: $HL-Default;

    &.num {
      // Numbers
      // -------
      color: $HL-Number;
    }
    &.esc {
      // Escape sequences
      // ----------------
      // In Delphi these are: $p, $n, $i, $t, $a, $l, $v and $$.
      color: $HL-Escape;
    }
    &.ipl {
      // Interpolation sequences
      // -----------------------
      // In Delphi these are: $<n>, $+<n>, $0<n>, $-<n>, $!<n> and $o.
      color: $HL-Interpolation;
    }
    &.str {
      // Strings
      // -------
      color: $HL-String;
    }
    &.ppc {
      // Preprocessor directives
      // -----------------------
      color: $HL-PreProcessor;
    }
    &.pps {
      // Strings within preprocessor directives
      color: $HL-StringPreProc;
    }
    &.slc, &.com {
      // Comments (single-line & block)
      // ------------------------------
      color: $HL-Comment;
      font-style: italic;
    }
    &.lin {
      // Line numbers
      // ------------
      color: $HL-LineNum;
    }
    &.opt {
      // Operators
      // ---------
      color: $HL-Operator;
    }
    // ---------------------
    //    Keywords Groups
    // ---------------------
    // &.kwa, &.kwb, &.kwc, &.kwd, &.kwe, &.kwf {
    //     font-weight: normal;
    // }
    &.kwa {
      // Keywords group 1
      // ----------------
      // Delphi keywords.
      color: $HL-Keywords1;
    }
    &.kwb {
      // Keywords group 2
      // ----------------
      // Delphi data types.
      color: $HL-Keywords2;
    }
    &.kwd {
      // Keywords group 4
      // ----------------
      // Functions names.
      color: $HL-Keywords4;
    }
  }

}

// EOF //
